<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main Page</title>
	<link rel="stylesheet" href="css/index.css">
	<script src="js/lib/jquery-2.2.3.js"></script>
	<script src="js/index.js"></script>
</head>
<body>
	<header>
		<div class="header-right">
			<span class="user">LNGC( S.C.Liang )&#9660;</span>
			BMS Data Sharing
		</div>
		<div class="header-left"><img src="img/logo.png" alt=""></div>
	</header>
	<main>
		<article></article>
		<aside>
			<ul>
				<li><a href="#">End User</a></li>
				<li><a href="#">Facility Admin</a></li>
				<li><a href="#">System Admin</a></li>
				<li><a href="#">Admin Log</a></li>
			</ul>
		</aside>
	</main>
	<footer>
		<div class="map">
			<a href="#">SITE MAP</a>
			 | 
			 <a href="#">GUIDE</a>
		</div>
		<div class="copy">Copyright&copy2016 NNRCC | All Rights Reserved</div>
	</footer>
</body>
</html>
